.projects {
    display: flex;
    flex-wrap: wrap;

    .project-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        width: calc(50% - 20px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .project-tags {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: space-between;

            span {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 5px 5px;
                background-color: #ccc;
                border-radius: 10px;
                font-size: 12px;
                color: #333;
            }
        }

        .project-title {
            img {
                float: left;
                width: 20px;
                padding: 3px;
            }

            h2 {
                position: relative;
                margin-top: 0;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #666;
        }

        a {
            text-decoration: none;
        }
    }
}

.debug {
    border: 1px solid red;
}

@media (min-width: 300px) and (max-width: 800px) {
    .projects {
        .project-card {
            width: 100%;
        }
    }
}
