<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
    <title>{{ page.title }}</title>
</head>
<body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            {{content}}
            
            <div class="projects">
            {% for projects_hash in site.data.projects %}
            {% assign project = projects_hash[1] %}
                <div class="project-card">
                    <h2><a href="{{ project.url }}" target="_blank">{{ project.name }}</a></h2>
                    <p>{{ project.description }}</p>
                    <p><em>{{ project.company.name }}</em></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {%- include footer.html -%}
</body>
</html>